*               { margin: 0; padding: 0; }
body            { font: normal 100% Helvetica, Arial, sans-serif; line-height: 1.7em; color: #222; }
.wrap           { width: 44em; }
#head           { position: relative; height: 4em; padding: 0 3em; background: #222; color: #FFF; }
#head h1        { position: absolute; bottom: 0.2em; font-size: 2em; font-weight: normal; letter-spacing: -0.05em; }
#head h1 a      { color: #FFF; }
#navi           { position: absolute; bottom: 0.1em; left: 15em; width: 32em; list-style: none; margin: 0; }
#navi li        { float: left; margin-right: 0.4em; }
#navi a         { color: #FFF; padding: 0.6em 0.5em 0.5em 0.5em; }
#navi a:focus,
#navi a:hover   { color: #FF6200; }
#navi li.act a  { color: #222; background: #FFF; border-top: 2px solid #FF6200; }
#main           { padding: 2em 3em; background: #FFF; color: #000; }
#main li        { margin: 0; border-bottom: 1px dotted #CCC; padding: 0.5em 0; }
#main ul        { list-style: none; }
#foot           { padding: 0.3em 3em 1em 3em; text-align: right; }
#foot a         { text-decoration: none; }
h2              { margin: 0.2em 0 0.5em 0; font-size: 1.4em; font-weight: bold; color: #FF6200; }
h3              { margin: 0; font-size: 1.1em; font-weight: bold; }
h3 .note        { margin-left: 0.3em; }
form h3         { margin: 0 0 0.5em 0; }
p               { margin-bottom: 0.7em; }
ul              { margin: 0 0 1.7em 0; }
a               { color: #FF6200; text-decoration: none;  }
img             { border: 0; }
form            { margin: 0 0 1.7em 0; }
small           { font-size: 0.8em; font-weight: normal; }
table           { margin: 0 0 1.7em 0; }
th              { font-weight: normal; padding: 0.2em 2em 0.2em 0; text-align: left; color: #AAA; }
td              { padding: 0.2em 2em 0.2em 0; }
form            { margin: 1em 0 1.7em 0; border: 1px dotted #CCC; border-top: 2px solid #AAA; padding: 1em; }
input           { padding: 0.2em; }
select          { width: 24em; }
input[type=text],
input[type=password]     { width: 24em; }
input[type=checkbox],    
input[type=radio]        { position: relative; top: -0.2em; }
input.space              { margin-right: 0.7em; }
select#persona_dob_day   { width: 6em; }
select#persona_dob_month { width: 11em; }
select#persona_dob_year  { width: 6em; }
div.row                  { margin: 0 0 0.7em 0; clear: both; }
div.space                { margin: 0 0 1.7em 0; }
label                    { display: block; }
label.check              { display: inline; margin: 0 2em 0 0.2em; }
label.note               { display: inline; margin: 0 0 0 0.4em; }
div.inline label         { float: left; width: 8.5em; }
.labelspace              { margin-left: 10.5em; }
.options a               { margin-right: 0.7em; }
.note                    { font-size: 0.9em; color: #AAA; font-weight: normal; }
.note a,                 
a#forgot_password        { color: #AAA; margin: 0 0.3em; text-decoration: underline; font-weight: normal; }
#openid_identifier       { background: url(/images/openid_symbol.png) 2px 50% no-repeat; padding-left: 25px; }
.clear                   { clear: both; }
.notice                  { margin: 0 0 1.7em 0; border: 1px solid #60964f; padding: 0.5em; background: #b3dca7; }
.fieldWithErrors label   { color: #FF6200; }
.error,                  
#errorExplanation        { margin: 0 0 1.7em 0; padding: 0.5em 1em; background: #FF6200; color: #222; }
#errorExplanation h2     { font-size: 1.1em; color: #222; }
#errorExplanation ul     { margin: 0 0 0 1.2em; list-style: square; }
#errorExplanation ul li  { padding: 0; border: 0; }