<p><%=t :account_created_but_not_activated_yet %></p>

<p><%=t :please_activate_it_by_clicking_the_following_link %>:</p>

<p><%= link_to t(:activation_link), :controller => 'accounts', :action => 'activate', :id => @account.activation_code, :only_path => false %></p>
