--- 
default: &default
  name: masquerade
  host: localhost:3000
  use_ssl: false
  time_zone: Berlin
  email: info@your.domain.com
  session:
    session_key: openidserver_session_id
    secret: replacethiswithyourowntopsecretsessionsecretsothatnoonewillknowit
  mailer:
    address: localhost
    domain: your.domain.com
    from: info@your.domain.com
  yubico:
  	id: 99
    api_key: youryubicoapikey
    
development:
  <<: *default

test:
  <<: *default

production:
  <<: *default
  use_ssl: true
  ssl_certificate_common_name: your.domain.com
  ssl_certificate_sha1: D2:1B:D8:C4:39:B7:EE:10:DA:E2:4E:0A:65:98:8E:27:C9:32:4B:F0
