development:
  adapter: mysql2
  host: localhost
  database: masquerade_development
  username: masquerade
  password: 
  encoding: utf8
  
test:
  adapter: mysql2
  host: localhost
  database: masquerade_test
  username: masquerade
  password: 
  encoding: utf8

production:
  adapter: mysql2
  host: localhost
  database: masquerade_production
  username: masquerade
  password: 
  encoding: utf8
